[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
black = "*"
coverage = "*"
docker = "*"
flake8 = "*"
gitpython = "*"
invoke = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
refurb = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
