[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
docker = "*"
gitpython = "*"
invoke = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
six = "*"

[requires]
python_version = "{{ cookiecutter.python_versions[0] }}"
