[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
docker = "*"
gitpython = "*"
invoke = "*"
pipenv = "*"
pytest = "*"
pytest-cookies = "*"
pyyaml = "*"
