[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
black = "*"
coverage = "*"
docker = "*"
flake8 = "*"
gitpython = "*"
invoke = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
pytest-cov = "*"
pyyaml = "*"
refurb = "*"

[requires]
python_version = "3.11"
