[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
bumpversion = "*"
coverage = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
{%- if cookiecutter.python_version != '3.9' %}
refurb = "*"
{%- endif %}

[requires]
python_version = "{{ cookiecutter.python_version }}"
